/* About Us Container */
.aboutUsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff; /* White background */
    padding: 2rem;
  }
  
  /* About Us Content */
  .aboutUsContent {
    text-align: center;
  }
  
  .aboutUsContent h1 {
    font-size: 2.5rem;
    color: #333; /* Dark text color */
    margin-bottom: 1rem;
  }
  
  .aboutUsContent p {
    font-size: 1.2rem;
    color: #666; /* Slightly darker text color */
    line-height: 1.5;
  }
  
  /* Animations */
  .aboutUsContent h1,
  .aboutUsContent p {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease forwards;
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  