/* Cart.module.css */
.cartContainer {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    color: blue;
  }
  
  .cartItems {
    margin-top: 20px;
  }
  
  .cartItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
  }
  
  .itemImage img {
    width: 80px; /* Adjust image size as needed */
    height: auto;
    margin-right: 20px;
  }
  
  .itemDetails {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .itemName {
    color: black;
    font-weight: bold;
  }
  
  .itemPrice {
    color: grey;
  }
  
  .itemLocation {
    color: #777;
    font-size: 14px;
  }
  
  .itemSellerName {
    color: #777;
    font-size: 14px;
  }
  
  .removeButton {
    background-color: rgb(174, 82, 82);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .removeButton:hover {
    background-color: rgb(108, 66, 66);
  }
  
  .cartSummary {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .total {
    font-weight: bold;
  }
  
  .continueButton {
    background-color: rgb(93, 93, 187);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .confirmButton{
    background-color: rgb(164, 31, 187);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .continueButton:hover {
    background-color: rgb(27, 8, 111);
  }
  .confirmButton:hover {
    background-color: rgb(71, 14, 100);
  }

  /*----------------------address_styling-----------------*/

  /* YourForm.module.css */

.addressContainer {
  background-color: rgba(156, 198, 210, 0.814);
  padding: 20px;
  border-radius: 8px;
}

.addressForm {
  display: flex;
  flex-direction: column;
}

.addressLabel {
  margin-bottom: 4px;
  font-weight: bold;
  color: rgb(95, 63, 128);
}

.addressInputs {
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.submitButton {
  background-color: rgb(51, 51, 130);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.backToCartbttn{
  background-color: rgb(151, 107, 98);
    color: white;
    border: none;
    margin: 7px 2px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.backToCartbttn{
  background-color: rgb(209, 128, 61);
}

.submitButton:hover {
  background-color: rgb(55, 31, 98);
}

  