

/* Styles for the full page container */
.fullPage {
  padding: 20px;
  text-align: center;
}

.fullPage h1 {
  margin:20px;
}
/* Styles for the items list */
.itemsList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Styles for the individual listing card */
.listingCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.listingCard a {
  text-decoration: none;
  color: inherit;
}

.listingCard:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Styles for the listing image */
.listingImage {
  width: 100%;
  height: 0;
  padding-bottom: 60%; 
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.listingImage img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Styles for the listing description */
.listingDescription {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 0 0 10px 10px;
}

.listingDescription h1 {
  color: #333;
  font-size: 20px;
  margin: 0;
}

.listingDescription h2 {
  color: #666;
  font-size: 14px;
  margin: 0;
}

/* Styles for the cart button */
.listingCartButton {
  display: block;
  background-color: #3ea0e4;
  border: none;
  border-radius: 0 0 10px 10px;
  color: white;
  padding: 10px 0;
  cursor: pointer;
  text-align: center;
  width: 100%; /* Added to make the button span full width */
  transition: background-color 0.2s, transform 0.2s;
}

.listingCartButton:hover {
  background-color: #2c87b1;
}

.listingCartButton:active {
  background-color: #1e6781;
}

.listingCartButton h3 {
  font-size: 16px;
  margin: 0;
}
