
/* LoginAndRegister.module.css */
.username {
    margin-bottom: 1rem;
    color:black;
  }
  
  .registerPage , .loginPage {
    width: 400px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-top:70px;
    
  }
  
  .registerPage label , .loginPage label{
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
  }
  .registerPage input , .loginPage input{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
 
  
  .loginPageBtns{
    display: block;
    width: 100%;
    padding: 0.5rem;
    background-color: #6396bd   ;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease-in-out;
    margin-block:10px;
  }
  
  .loginPageBtns:hover {
    background-color: #477aa1;
  }

  .loginregisterMain{
    height:100vh;
    display: flex;

  }
  
  .loginregisterImage{
flex: 1;
  }
  .formPage{
flex: 1;

  }