/* MainNavigation.module.css */

/* Header Styles */
.header {
    background-color: #333;
    color: white;
    padding: 1rem;
  }
  
  /* Navigation Styles */
  .navList {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-start; /* Align links to the left */
    font-size: larger;
  }
  
  .navList li {
    margin: 0 1rem;
  }
  
  /* NavLink Styles */
  .navList a{
    color: #f8b400; /* Yellow color for links */
    text-decoration: none;
    font-weight: bold;
  }
  
  .navList a:hover,
  .navList a:active {
    color: #3498db; /* Blue color on hover */
    transform: translateY(-2px);
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0px;
    width: 250px;
    height: 100%;
    background-color: #bab8b8;
    transition: left 0.3s ease-in-out;
  }
  
 
  
  .toggleButton {
    position: absolute;
    top: -28px;
    right: -32px;
    background: none;
    border: none;
    color: black;
    font-size: 29px;
    cursor: pointer;
    z-index: 1;
}
  
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
  }
  
  .sidebar ul li {
    padding: 10px;
    color: white;
    border-bottom: 1px solid #555;
    transition: background-color 0.2s;
  }
  
  .sidebar ul li:hover {
    background-color: #444;
  }
  